<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/detalles/nuevo}" id="add-row" type="button"
				class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
		<div>
			<form th:action="@{/detalles/buscar}" method="post"
				th:object="${detalle}">
				<div class="form-group">

					<label for="detalle">Buscar:</label> <input type="text"
						class="form-control" th:field="*{resultadoAuditoria}"
						id="resultadoAuditoria"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<a href="/detalles/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Detalles</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Proceso</th>
								<th>Auditoria</th>								
								<th>Resultado de Auditoria</th>

							</tr>
						</thead>
						<tbody id="detalle-list">
							<tr th:each="detalle:${listaDetalles}">

								<td><a class="btn btn-primary btn-xs"
									th:href="@{/detalles/ver/} + ${detalle.idDetalle}" 
									th:text="${detalle.idDetalle}"></a></td>
								<td th:text="${detalle.proceso.nombreProceso}"></td>
								<td th:text="${detalle.auditoria.descripcionAuditoria}"></td>
								<td th:text="${detalle.resultadoAuditoria}"></td>
							</tr>
						</tbody>
					</table>
					<p th:text="${mensaje}"></p>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>
