<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Auditoría</div>
			<div class="card-body">

				<table class="table table-white">
					<tbody>
						<tr>
							<td>Id Detalle</td>
							<td th:text="${detalle.idDetalle}"></td>
						</tr>

						<tr>
							<td>Auditoría</td>
							<td th:text="${detalle.auditoria.descripcionAuditoria}"></td>
						</tr>
						
						<tr>
							<td>Programa</td>
							<td th:text="${detalle.auditoria.programa.nombrePrograma}"></td>
						</tr>
						<tr>
							<td>Objetivos</td>
							<td th:text="${detalle.auditoria.programa.objetivo}"></td>
						</tr>
						<tr>
							<td>Alcance</td>
							<td th:text="${detalle.auditoria.programa.alcance}"></td>
						</tr>
						

						<tr>
							<td>Fecha de Inicio</td>
							<td th:text="${detalle.auditoria.fechaInicioAuditoria}"></td>
						</tr>
						<tr>
							<td>Fecha de Fin</td>
							<td th:text="${detalle.auditoria.fechaFinAuditoria}"></td>
						</tr>
						
						<tr>
							<td>Proceso</td>
							<td th:text="${detalle.proceso.nombreProceso}"></td>
						</tr>

						<tr>
							<td>Descripción de Proceso</td>
							<td th:text="${detalle.proceso.descripcionProceso}"></td>
						</tr>
						
						<tr>
							<td>Area</td>
							<td th:text="${detalle.auditoria.proceso.area.nombreArea}"></td>
						</tr>
						
						<tr>
							<td>Estado</td>
							<td th:text="${detalle.auditoria.estado}"></td>
						</tr>
						
						<tr>
							<td>Prioridad</td>
							<td th:text="${detalle.auditoria.prioridad}"></td>
						</tr>
						<tr>
							<td>Resultado</td>
							<td th:text="${detalle.auditoria.resultado}"></td>
						</tr>
						
						
						<tr>
							<td>Resultado final</td>
							<td th:text="${detalle.resultadoAuditoria}"></td>
						</tr>
					</tbody>

				</table>

				<a th:href="@{/detalles/listar}" type="button"
					class="btn btn-primary k"> <span
					class="glyphicon glyphicon-circle-arrow-left"></span> Volver
				</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>