<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/auditorias/nuevo}" id="add-row" type="button"
				class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
		<div>
			<form th:action="@{/auditorias/buscar}" method="post"
				th:object="${auditoria}">
				<div class="form-group">

					<label for="auditoria">Buscar:</label> <input type="text"
						class="form-control" th:field="*{estado}" id="auditoria"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<a href="/auditorias/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Auditorias</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Auditoria</th>
								<th>Proceso</th>
								<th>Estado</th>
								<th>Prioridad</th>
								<th>Resultado</th>
								<th>Fecha de Inicio</th>
								<th>Fecha de Fin</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="auditoria-list">
							<tr th:each="auditoria:${listaAuditorias}">
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/auditorias/ver/} + ${auditoria.idAuditoria}"
									th:text="${auditoria.idAuditoria}"></a></td>
								<td th:text="${auditoria.descripcionAuditoria}"></td>
								<td th:text="${auditoria.proceso.nombreProceso}"></td>
								<td th:text="${auditoria.estado}"></td>
								<td th:text="${auditoria.prioridad}"></td>
								<td th:text="${auditoria.resultado}"></td>
								<td
									th:text="${#dates.format(auditoria.fechaInicioAuditoria,'dd/MM/yyyy')}"></td>
								<td
									th:text="${#dates.format(auditoria.fechaFinAuditoria,'dd/MM/yyyy')}"></td>
								<td align="center"><a
									th:href="@{'/auditorias/modificar/' + ${auditoria.idAuditoria}}"><span
										class="glyphicon glyphicon-edit"></span></a></td>

							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
