<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Gerentes</div>
			<div class="card-body">
			
			<img th:if="${#strings.length(gerente.foto) > 0}"
							class="img-thumbnail rounded float-left" style="max-width: 17%;"
							th:src="@{'/gerentes/uploads/' + ${gerente.foto}}"
							th:alt="${gerente.foto}" />

				<div class="table-responsive">
					<table class="table table-white">
					

						<tbody>
							<tr>
								<td>CODIGO</td>
								<td th:text="${gerente.idPersona}"></td>
							</tr>
							<tr>
								<td>Gerente</td>
								<td th:text="${gerente.namePersona}"></td>
							</tr>
							<tr>
								<td>Telefono</td>
								<td th:text="${gerente.TelPersona}"></td>
							</tr>
							<tr>
								<td>Fecha de Nacimiento</td>
								<td th:text="${gerente.birthDatePersona}"></td>
							</tr>
							<tr>
								<td>Direccion</td>
								<td th:text="${gerente.DireccionPersona}"></td>
							</tr>
							
							<tr>
								<td>DNI</td>
								<td th:text="${gerente.dniPersona}"></td>
							</tr>
							
							<tr>
								<td>Email</td>
								<td th:text="${gerente.emailPersona}"></td>
							</tr>
							
							
						</tbody>

					</table>

					<a th:href="@{/gerentes/listar}" type="button"
						class="btn btn-primary k"> <span
						class="glyphicon glyphicon-circle-arrow-left"></span> Volver
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
