<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de
				Administrador</div>
			<form th:action="@{/administradores/guardar}"
				th:object="${administrador}" method="post"
				enctype="multipart/form-data">
				<div class="form-group row">
					<label for="idPersona" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idPersona}" class="form-control" />
					</div>
				</div>

				<div class="form-group row">
					<label for="namePersona" class="col-sm-2 col-form-label">Administrador</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{namePersona}" class="form-control"
							th:errorclass="'form-control alert-info'" /> <small
							th:if="${#fields.hasErrors('namePersona')}"
							th:errors="*{namePersona}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="birthDatePersona" class="col-sm-2 col-form-label">Fecha
						de Nacimiento</label>
					<div class="col-sm-6">
						<input type="date" th:field="*{birthDatePersona}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small th:if="${#fields.hasErrors('birthDatePersona')}"
							th:errors="*{birthDatePersona}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="emailPersona" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{emailPersona}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							th:if="${#fields.hasErrors('emailPersona')}"
							th:errors="*{emailPersona}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="dniPersona" class="col-sm-2 col-form-label">DNI</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{dniPersona}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							th:if="${#fields.hasErrors('dniPersona')}"
							th:errors="*{dniPersona}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="DireccionPersona" class="col-sm-2 col-form-label">Dirección</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{DireccionPersona}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small th:if="${#fields.hasErrors('DireccionPersona')}"
							th:errors="*{DireccionPersona}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="TelPersona" class="col-sm-2 col-form-label">Telefono</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{TelPersona}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							th:if="${#fields.hasErrors('TelPersona')}"
							th:errors="*{TelPersona}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="file" class="col-sm-2 col-form-label ">Foto</label>
					<div class="col-sm-6">
						<input type="file" name="file" class="form-control" />
					</div>
				</div>
				<div class="form-group row">
					<label for="usuario" class="col-sm-2 col-form-label">Usuario</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{userUsuario}" id="usuario" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							th:if="${#fields.hasErrors('userUsuario')}"
							th:errors="*{userUsuario}"></small>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="contraseña" class="col-sm-2 col-form-label">Contraseña</label>
					<div class="col-sm-6">
						<input type="password" th:field="*{passwordUsuario}" id="contraseña" placeholder="password" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							th:if="${#fields.hasErrors('passwordUsuario')}"
							th:errors="*{passwordUsuario}"></small>
					</div>
				</div>
				<div class="form-group row">
					<label for="tipoUsuario" class=" col-sm-2 col-form-label">Tipo de usuario</label>
					<div class="col-sm-6">
						<select class="form-control" name="tipoUsuario">
							
							<option>ROLE_ADMINISTRADOR</option>


						</select>
					</div>


				</div>
				<div class="form-group row">
					<label for="estadoUsuario" class=" col-sm-2 col-form-label">Estado</label>
					<div class="col-sm-6">
						<select class="form-control" name="estadoUsuario">
							
							<option>1</option>
							<option>0</option>


						</select>
					</div>
				</div>



				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" value="Registrar" class="btn btn-primary" />

						<a href="/administradores/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

			</form>
		</div>
	</div>

	<div th:if="${mensaje}" class="alert alert-info">
		<p th:text="${mensaje}"></p>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
