<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Programa de Audioria</div>
			<form th:action="@{/programas/guardar}" th:object="${programa}" method="post"
				enctype="multipart/form-data">
				<div class="form-group row">
					<label for="idPrograma" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idPrograma}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('idPrograma')}" th:errors="*{idPrograma}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="programa" class="col-sm-2 col-form-label">Programa</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{nombrePrograma}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('nombrePrograma')}"
							th:errors="*{nombrePrograma}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="objetivo" class="col-sm-2 col-form-label">Objetivos</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{objetivo}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('objetivo')}"
							th:errors="*{objetivo}"></small>
					</div>
				</div>
				<div class="form-group row">
					<label for="alcance" class="col-sm-2 col-form-label">Alcance</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{alcance}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('alcance')}"
							th:errors="*{alcance}"></small>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" value="Registrar" class="btn btn-primary" />

						<a href="/programas/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>
				<p th:text="${mensaje}" class="form-text text-danger"></p>
			</form>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>