<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de Programa de Auditoria</div>
			<div class="card-body">
			
			

				<div class="table-responsive">
					<table class="table table-white">
					

						<tbody>
							<tr>
								<td>Id</td>
								<td th:text="${programa.idPrograma}"></td>
							</tr>
							<tr>
								<td>Programa</td>
								<td th:text="${programa.nombrePrograma}"></td>
							</tr>
							<tr>
								<td>Objetivo</td>
								<td th:text="${programa.objetivo}"></td>
							</tr>
							<tr>
								<td>Alcance</td>
								<td th:text="${programa.alcance}"></td>
							</tr>
							
							
							
						</tbody>

					</table>

					<a th:href="@{/programas/listar}" type="button"
						class="btn btn-primary k"> <span
						class="glyphicon glyphicon-circle-arrow-left"></span> Volver
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
