<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/auditores/nuevo}"
				id="add-row" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
		<div>
			<form th:action="@{/auditores/buscar}" method="post"
				th:object="${auditor}">
				<div class="form-group">

					<label for="auditor">Buscar:</label> <input type="text"
						class="form-control" th:field="*{namePersona}" id="auditor"></input>
					<div align="right">
						<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
						<a href="/auditores/listar" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Auditores</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Auditor</th>
								<th>Fecha de Nacimiento</th>
								<th>Email</th>
								<th>DNI</th>
								<th>Direccion</th>
								<th>Telefono</th>								
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="auditor-list">
							<tr th:each="auditor:${listaAuditores}">
								<td><a class="btn btn-info btn-xs"
									th:href="@{/auditores/ver/} + ${auditor.idPersona}"
									th:text="${auditor.idPersona}"></a></td>
								<td th:text="${auditor.namePersona}"></td>
								<td
									th:text="${#dates.format(auditor.birthDatePersona,'dd/MM/yyyy')}"></td>
								<td th:text="${auditor.emailPersona}"></td>
								<td th:text="${auditor.dniPersona}"></td>
								<td th:text="${auditor.DireccionPersona}"></td>
								<td th:text="${auditor.TelPersona}"></td>
								<td align="center"><a
									th:href="@{'/auditores/detalle/' + ${auditor.idPersona}}"><span
										class="glyphicon glyphicon-edit"></span></a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>