<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/equipos/nuevo}" id="add-row" type="button"
				class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
		<div>
			<form th:action="@{/equipos/buscar}" method="post"
				th:object="${equipo}">
				<div class="form-group">

					<label for="equipo">Buscar:</label> <input type="text"
						class="form-control" th:field="*{cargo}" id="equipo"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<a href="/equipos/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Integrantes</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Cargo</th>
								<th>Auditor</th>
								<th>ID Auditoria</th>


								<th align="center">Actualizar</th>

							</tr>
						</thead>
						<tbody id="equipo-list">
							<tr th:each="equipo:${listaEquipos}">

								<td th:text="${equipo.idEquipo}"></td>
								<td th:text="${equipo.cargo}"></td>

								<td th:text="${equipo.auditor.namePersona}"></td>
								<td th:text="${equipo.auditoria.idAuditoria}"></td>


								<td align="center"><a
									th:href="@{'/equipos/modificar/' + ${equipo.idEquipo}}"><span
										class="glyphicon glyphicon-edit"></span></a></td>
							</tr>
						</tbody>
					</table>
					<p th:text="${mensaje}"></p>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>
