<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/procesos/nuevo}" id="add-row" type="button"
				class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
		<div>
			<form th:action="@{/procesos/buscar}" method="post"
				th:object="${proceso}">
				<div class="form-group">

					<label for="p">Buscar:</label> <input type="text"
						class="form-control" th:field="*{descripcionProceso}" id="p"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<a href="/procesos/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>
			</form>
		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Procesos</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Proceso</th>
								<th>Descripción</th>
								<th>Area</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="proceso-list">
							<tr th:each="proceso:${listaProcesos}">
								<td><a class="btn btn-info btn-xs"
									th:href="@{/procesos/ver/} + ${proceso.idProceso}"
									th:text="${proceso.idProceso}"></a></td>
								<td th:text="${proceso.nombreProceso}"></td>
								<td th:text="${proceso.descripcionProceso}"></td>
								<td th:text="${proceso.area.nombreArea}"></td>

								<td align="center"><a
									th:href="@{'/procesos/modificar/' + ${proceso.idProceso}}"><span
										class="glyphicon glyphicon-edit"></span></a></td>
							</tr>
						</tbody>
					</table>
					<p th:text="${mensaje}"></p>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>
