<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/informes/nuevo}" id="add-row" type="button"
				class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
		<div>
			<form th:action="@{/informes/buscar}" method="post"
				th:object="${informe}">
				<div class="form-group">

					<label for="informe">Buscar:</label> <input type="text"
						class="form-control" th:field="*{descripcionInforme}" id="informe"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
						<a href="/informes/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Reporte de
				Informes</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Auditor</th>
								<th>Proceso</th>
								<th>Tipo de Informe</th>
								<th>Descripcion</th>
								<th align="center">Operacion</th>

							</tr>
						</thead>
						<tbody id="informe-list">
							<tr th:each="informe:${listaInformes}">
								<td><a class="btn btn-info btn-xs"
									th:href="@{/informes/ver/} + ${informe.idInforme}"
									th:text="${informe.idInforme}"></a></td>
								<td th:text="${informe.auditor.namePersona}"></td>
								<td th:text="${informe.proceso.nombreProceso}"></td>
								<td th:text="${informe.tipoInforme}"></td>
								<td th:text="${informe.descripcionInforme}"></td>
								
								<td align="center"><a
									th:href="@{'/informes/modificar/' + ${informe.idInforme}}"><span
										class="glyphicon glyphicon-edit"></span></a></td>
							</tr>
						</tbody>
					</table>
					<p th:text="${mensaje}"></p>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>
